.modal, .banner {
  font-family: 'Inter', sans-serif;
}

.modal-header { 
  background: #B5D56D;
  color: #762F6A;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.5px;
  line-height: 100%;
  text-align: left;
  font-weight: 400;
}

.modal-header * {
	margin: 0;
	padding: 0; 
}

.modal-dialog {
  max-width: 720px;
}

.modal-body h3 {
  color: #0B9DBC;
  font-size: 54px;
  font-family: 'Raleway', sans-serif;
  line-height: 90%;
  text-align: left; 
}

.modal-date {
color: #762F6A;
  font-size: 32px;
  text-transform: uppercase;
  text-align: left; 
  font-weight: 400;
}

.modal-tagline {
  color: #4ABA77;
  font-weight: 600;
  text-transform: uppercase; 
  margin-top: 10px;
  font-size: 23px;
  text-align: left; 
}

.modal-strong {
  font-weight: 800; 
  display: block;
}

.modal-footer {
	background-color: #0B9DBC;
  	background-image: url('data:image/svg+xml,<svg width="186" height="121" viewBox="0 0 186 121" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 44L31 68L102 121H0V44Z" fill="%23097E96"/><path fill-rule="evenodd" clip-rule="evenodd" d="M0 121V0H185.321L12.0888 121H0Z" fill="%230BBBD5"/></svg>');
	background-repeat: no-repeat;
  	background-position: bottom left;
  	background-size: contain;
  color: #FFFFFF;
  text-align: left;
}

.modal-button {
	background: #762F6A;
  color: #FFFFFF;
    font-family: 'Inter', sans-serif;
	font-weight: 800;
  outline: none;
  border: none;
  box-shadow: 0 7.5px 0 rgba(0,0,0,0.2);
  padding: 19px 38px;
}

.modal-footer-text {
  display: none; 
}

.banner {
  display: none; 
  position: fixed;
  top: 0; 
  left: 0; 
  width: 100%;
  height: 90px;
  background-color: #FFFFFF;
  padding-left: 20px;
}

.banner * {
	position: relative; 
  	z-index: 1; 
}

.banner-strong {
    font-weight: 800; 
}

.banner-button {
	background: #762F6A;
  color: #FFFFFF;
    font-family: 'Inter', sans-serif;
	font-weight: 800;
  outline: none;
  border: none;
  box-shadow: 0 7.5px 0 rgba(0,0,0,0.2);
  padding: 15px 30px;
}

.banner-button:hover, .modal-button:hover{
  	color: #FFFFFF;
  	background: #57194D;
    box-shadow:none;
  	text-decoration: none; 
}

#conference-modal .close-modal  {
  display: none; 
 }

@media screen and (min-width: 768px) {
  
  .banner {
    display: block;
  }
  
  html {
	margin-top: 90px!important;
	}
  
  .banner-title {
	font-size: 24px;
  	color: #0B9DBC;
  	font-weight: 600;
    margin-bottom: 0; 
    display: block;
	}
  
  .banner-date {
  	font-size: 18px;
	color: #762F6A;
  	text-transform: uppercase; 
  	margin-bottom: 0; 
  	position: relative; 
    display: block; 
}
  
  .banner-end {
	background: #FFFFFF;
    background-image: url('data:image/svg+xml,<svg width="777" height="89" viewBox="0 0 777 89" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M164.688 0L75.5 62.3173L0.0994263 0H164.688Z" fill="%23B2D465"/><path fill-rule="evenodd" clip-rule="evenodd" d="M37.312 89H777V0H164.688L37.312 89Z" fill="%234ABA77"/></svg>'); 
    background-repeat: no-repeat;
    background-position: left center; 
    background-size: cover; 
    padding: 0 20px;
}
  
  .banner-tagline {
	display: none; 
}
   
}


@media screen and (min-width: 1024px) {
  
  .banner {
      padding-left: 100px;
      border-right: 8px solid #B5D56D;
      background-image: url('data:image/svg+xml,<svg width="88" height="89" viewBox="0 0 88 89" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M87.4649 89H0.000128102L0.00012207 20L87.4649 89Z" fill="%230B9DBC"/><path fill-rule="evenodd" clip-rule="evenodd" d="M54.507 0L0 43V0H54.507Z" fill="%230BBBD5"/></svg>');
      background-position: left center;
      background-size: contain;
      background-repeat: no-repeat;
      padding-left: 60px;
	}

    .banner-title {
      font-size: 32px;
	}
  
  .banner-date {
  	font-size: 20px;
	}
  

  
  .banner-end {
    padding-left: 125px;
}
  .modal-footer-text {
	font-size: 30px;
  line-height: 100%;
  padding-right: 50px;
  margin-bottom: 0; 
  display: block; 
}
 
  
  
}

@media screen and (min-width: 1200px) {
   .banner-tagline {
      font-size: 24px;
      display: block;
      color: #FFFFFF;
      font-weight: 400;
      text-shadow: 0 0 6px rgba(0,0,0,0.2);
      margin-bottom: 0; 
  }
}

@media screen and (min-width: 1600px) {

  .banner-title {
      font-size: 40px;
    	display: inline-block;
  }
  
  .banner-date {
  	font-size: 24px;
    display: inline-block;
  }
  
    .banner-date::before {
	content: '|';
  	color: #4F8297;
  	font-weight: 400;
  	padding-right: 20px;
	}
  
}
